altgraph==0.16.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
et-xmlfile==1.0.1
fbs==0.8.4
future==0.17.1
idna==2.8
jdcal==1.4.1
Js2Py==0.66
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.17.2
openpyxl==2.6.3
pandas==0.25.1
pefile==2019.4.18
PyInstaller==3.5
pyjsparser==2.7.1
pyparsing==2.4.2
PyQt5==5.12.2
PyQt5-sip==4.19.19
pyqt5-tools==5.12.3.1.5
PyQtWebEngine==5.12.1
PySocks==1.6.8
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
pywin32-ctypes==0.2.0
requests==2.21.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.24.3
xlrd==1.2.0
pip==19.2
setuptools==28.8.0
